/* COLORES */
/* primary = white */
/* secondary = #none */
/* primarybg = #51545D */
/* secondarybg = #2A2B2F */

/* BODY */

body {
    background-color: #51545D;
}

p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

ul li {
    list-style-type: none; 
}

ol li {
    list-style-image: url("resources/svg/002-music.svg");
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: black;
}

/* -BODY */

/* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav img{
    width: 25px;
}

/* -HEADER */

/* SECT BIOGRAPHY */

.biography {
    display: flex;
    align-items: center;
    justify-content: center;
}

.biography img {
    max-width: 500px;
}

.biography p {
    font-size: 26px;
}

/* -SECT BIOGRAPHY */

/* SECT ALBUMS */

.albums {
    display: flex;
    justify-content: center;
    align-items: center;
}

.albums img {
    width: 200px;
}

.albums p,li {
    font-size: 18px;
}

th {
    font-size: 30px;
    text-align: center;
}

/* -SECT ALBUMS */

/* SECT AUDIO-VIDEO */

.audio_video {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* -SECT AUDIO-VIDEO */

/* SECT FORMULARIO */

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -SECT FORMULARIO */

/* FOOTER */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -FOOTER */