@font-face {
    font-family: 'Heavy';
    src: url('/resources/tipografia/Industry-Book.woff2') format('woff2');
}

body {
    font-family: 'Heavy', cursive;
    background-color: #292b2c;
    color: white;
    a {
        color: white;
        text-decoration: none;
    }
}

.hero img {
    width: 100%;
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media (min-width: 320px) {

    // header
    .navbar-brand img {
        width: 200px;
    }
    
    .navbar-collapse {
        text-align: center;
        font-size: 1.4em;
    }

    // hero
    .hero {
        .hero-image {
            width: 100%;
        }
        .hero-text {
            padding: 1em 2em;
            width: 100%;
        }
    }
    
    // albums
    .album {
        width: 100%;
        text-align: center;
        margin-bottom: 2em;
        img {
            padding: 1em;
            border-radius: 40px;
            max-width: 80%;
            border: solid white .4px;
        }
    }
    

    // members
    .artista-texto {
        margin: 1em 0;
        width: 100%;
        padding: 1em;
    }

    .artista {
        width: 100%;
        text-align: center;
        margin-bottom: 2em;
        img {
            padding: 1em;
            border-radius: 40px;
            max-width: 70%;
            border: solid white .4px;
        }
    }
    
    // contact
    form {
        margin: 50px;
        margin-bottom: 80px;
        text-align: center;
        h2 {
            text-transform: uppercase;
        }
        input {
            text-align: center;
        }
        button {
            color: white;
            margin: 0 20px;
        }
    }

    .social-media {
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding-bottom: 1em;
        img {
            width: 40px;
            border-radius: 50%;
        }
    }

    img {
        width: 100%;
    }
}