body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: red;
    font-family: 'New Rocker', cursive;
    background-image: url("resources/backgrounds/bg2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vw;
    background-attachment: fixed;
}

h2 {
    font-size: 1.5em;
}

p {
    font-size: 1em;
}

@media only screen and (max-width: 425px) {

    /* header */
    
    header {
        display: block;
        text-align: center;
        padding: 1em;
    }
    
    header img {
        /* width: 50vw; */
        max-width: 80vw;
    }
    
    nav {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-content: center;
        margin-top: 20px;
    }
    
    nav a img {
        width: 50px;
    }
    
    /* !=header */
    /* hero */

    .container-hero-flex {
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 60px;
        padding: 0 2em;
    }
    
    /* !=hero */
    /* album */
    
    .container-flex-album-text {
        display: flex;
        justify-content: center;
        align-content: center;
        margin: 20px 0;
        padding: 0 2em;
    }

    .container-flex-album {
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }
    
    .container-flex-album img {
        width: 200px;
    }
    
    .album {
        width: 100%;
        position: relative;
        text-align: center;
    }
    
    .album-foto img {
        opacity: .7;
    }
    
    .album-foto img:hover {
        opacity: 1;
    }
    
    /* !=album */
    /* artista */

    .container-flex-artista-text {
        display: flex;
        justify-content: center;
        align-content: center;
        margin: 40px 0 20px;
        padding: 0 2em;
    }
    
    .container-flex-artista {
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .artista-foto {
        display: flex;
        justify-content: center;
        align-content: center;
    }
    
    .artista-foto img {
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }
    
    .artista-texto {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        text-align: center;
        margin-bottom: 30px;
    }
    
    /* !=artista */
    /* video */
    .container-flex-video {
        display: flex;
        align-content: center;
        justify-content: center;
    }
    /* !=video */
    /* form */
    /* !=form */
    /* footer */
    /* !=footer */
}
